body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}
.bank-box {
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
