body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 80px;
}

.btn {
  background: red;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.card {
  background: white;
  color: black;
  padding: 20px;
  margin: 15px auto;
  width: 300px;
  border-radius: 10px;
}
